@page "/adultView/{Id:int}"
<h3>Adult View</h3>

<div class="col-md-3">
    <label>
        First Name
    </label>
    <p class="col-md-12" >@_adultModel.FirstName</p>
    <label>
        Last Name
    </label>
    <p class="col-md-12" >@_adultModel.LastName</p>
    <label>
        Hair color
    </label>
    <p class="col-md-12" >@_adultModel.LastName</p>
    <label>
        Eye Color
    </label>
    <p class="col-md-12" >@_adultModel.EyeColor</p>
    <label>
        Age
    </label>
    <p class="col-md-12" >@_adultModel.Age</p>
    <label>
        Weight
    </label>
    <p class="col-md-12" >@_adultModel.Weight</p>
    <label>
        Height
    </label>
    <p class="col-md-12" >@_adultModel.Height</p>
    <label>
        Sex
    </label>
    <p class="col-md-12" >@_adultModel.Sex</p>
</div>
